<img src="{{category.img}}" alt="{{category.img}}">
<h3>{{category.name}}</h3>
<a href="/api/category/delete/{{category._id}}" class="delete category_delete">Delete</a>
<a href="/api/category/update/{{category._id}}" class="update category_update">Update</a>